$white-color: #fff;
$black-color: #000;
$home-color: #c19d60;
$text-color: #1b1b1b;
$grey-color: #777777;

$font-libre: "Libre Caslon Display", serif;
$font-noto: "Noto Sans", sans-serif;
$font-pinyon: "Pinyon Script", cursive;
