@import "../base/reset";
@import "../utils/variables";
@import "../base/typograpy";
@import "../utils/mixins";
@import "../base/global";
@import "../components/buttons";
@import "../layouts/header";
@import "../layouts/footer";
/* #Progress
================================================== */

.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: #c19d60;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap i {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* content: '\f062'; */
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: #c19d60;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
// Spinner child - svg line anim
.spinner-loader {
  height: 100vh;
  display: block;
  background-color: white;

  #spinner {
    width: 52px;
    height: 52px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: wait;
  }
}
svg.spinner-webkit {
  width: 80px;
  height: 80px;

  path {
    stroke-dasharray: 329;
    stroke-dashoffset: 0;
    stroke: $home-color;
    stroke-width: 1.8px;
    animation: draw 4s ease-in-out infinite;
    fill: transparent;
    fill-opacity: 0;
  }

  @keyframes draw {
    100% {
      stroke-dasharray: 329;
      stroke-dashoffset: 658;
    }
  }
}

//Spinner child - non-svg anim IE fallback
.spinner-ie {
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  position: absolute;
  display: none;
  animation: spin 0.5s linear infinite;
  border: 2px solid transparent;
  border-top: 2px solid $home-color;
  border-left: 2px solid $home-color;
  border-radius: 50px;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .spinner-webkit {
    display: none;
  }

  .spinner-ie {
    display: block;
  }
}

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.5%;
  header {
    .header {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      background-image: url("../../images/home/banner-3.jpg");
      .bg-color {
        width: 100%;
        padding: 200px 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        @include flex();
        flex-direction: column;
        .header-content {
          gap: 1.5rem;
          @include flex();
          flex-direction: column;

          h6 {
            letter-spacing: 10px;
          }
          .down-icon {
            @include flex();
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            border-radius: 50%;
            border: 1px solid $home-color;
            animation: bounce 2s infinite;
            i {
              color: $home-color;
            }
          }
          @keyframes bounce {
            0%,
            20%,
            53%,
            80%,
            100% {
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              transform: translate3d(0, 0, 0);
            }

            70% {
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              transform: translate3d(0, -15px, 0);
            }
            90% {
              transform: translate3d(0, -4px, 0);
            }
          }
        }
      }
    }
  }
  #details {
    padding: 100px 0;
    background-color: #1b1b1b;
    .details {
      @include flex();
      gap: 1rem;
      .img {
        width: 50%;
        height: 60vh;
        // transition: all 0.8s ease-in-out;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: all 0.8s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
      .content {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          font-size: 18px;
          font-style: italic;
        }
        .icon {
          display: flex;
          gap: 1rem;
          .fa-heart {
            color: red;
          }
          .fa-cart-shopping {
            color: white;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    left: 0;
    width: 100%;
    #details {
      .details {
        flex-direction: column;
        .img {
          width: 100%;
        }
        .content {
          width: 100%;
        }
      }
    }
  }
}
