/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  text-decoration: none;
  outline: none;
  border: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

h2 {
  font-family: "Libre Caslon Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: #1b1b1b;
}

h3 {
  font-family: "Libre Caslon Display", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  color: #c19d60;
}

h4 {
  font-family: "Libre Caslon Display", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #c19d60;
}

h5 {
  font-family: "Libre Caslon Display", serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

h6 {
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

p {
  color: #777777;
  font-family: "Noah", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #fff;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

span {
  font-family: "Noah", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #c19d60;
  letter-spacing: 3px;
  line-height: 1.75em;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .container {
    padding: 0 5%;
  }
}

main header .owl-carousel .owl-item .item .header .bg-color .header-content a {
  outline: none;
  border: 1px solid #c19d60;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
  padding: 5px 25px;
  background-color: transparent;
  transition: all 0.5s;
}
main header .owl-carousel .owl-item .item .header .bg-color .header-content a:hover {
  background-color: #c19d60;
}

/* #Progress
================================================== */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #c19d60;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

.spinner-loader {
  height: 100vh;
  display: block;
  background-color: white;
}
.spinner-loader #spinner {
  width: 52px;
  height: 52px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: wait;
}

svg.spinner-webkit {
  width: 80px;
  height: 80px;
}
svg.spinner-webkit path {
  stroke-dasharray: 329;
  stroke-dashoffset: 0;
  stroke: #c19d60;
  stroke-width: 1.8px;
  animation: draw 4s ease-in-out infinite;
  fill: transparent;
  fill-opacity: 0;
}
@keyframes draw {
  100% {
    stroke-dasharray: 329;
    stroke-dashoffset: 658;
  }
}

.spinner-ie {
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  position: absolute;
  display: none;
  animation: spin 0.5s linear infinite;
  border: 2px solid transparent;
  border-top: 2px solid #c19d60;
  border-left: 2px solid #c19d60;
  border-radius: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .spinner-webkit {
    display: none;
  }
  .spinner-ie {
    display: block;
  }
}
.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  background: #c19d60;
  margin: 15px 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  flex-direction: column;
  gap: 4px;
  display: none;
}
.navbar span {
  transition: all 0.5s;
  border: 1px solid white;
  width: 20px;
}
.navbar:hover {
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
  }
  .navbar.menu-icon {
    left: 230px;
    gap: unset;
  }
  .navbar.menu-icon .line1 {
    transform: rotate(45deg);
  }
  .navbar.menu-icon .line2 {
    transform: rotate(-45deg);
  }
  .navbar.menu-icon .line3 {
    display: none;
  }
}

#candore-aside {
  height: 100vh;
  background: #1b1b1b;
  width: 15%;
  padding: 70px 50px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  gap: 90px;
  z-index: 1111;
  transition: all 0.5s ease;
}
#candore-aside .candore-logo {
  max-width: 200px;
}
#candore-aside .candore-logo img {
  width: 100%;
}
#candore-aside nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#candore-aside nav ul li {
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
#candore-aside nav ul li .faq-list {
  border: unset;
  padding: 0;
}
#candore-aside nav ul li.active a {
  color: #c19d60;
}
#candore-aside nav ul li .pages {
  padding: 15px 0 0 20px;
  display: none;
}
#candore-aside nav ul li .pages.pages-ul {
  display: block;
}
#candore-aside nav ul li .pages li {
  padding-top: 10px;
}
#candore-aside .candore-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#candore-aside .candore-footer p {
  font-size: 12px;
  color: #999;
}
#candore-aside .candore-footer ul {
  display: flex;
  gap: 1rem;
}
#candore-aside .candore-footer ul li a i {
  color: #c19d60;
  transition: all 0.5s ease;
}
#candore-aside .candore-footer ul li a:hover i {
  color: #fff;
}
#candore-aside .candore-footer ul li a:active i {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #candore-aside {
    left: -250px;
    width: 20%;
  }
  #candore-aside.aside {
    left: 0px;
  }
}

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.4%;
}
main header {
  width: 100%;
}
main header .reservation {
  position: absolute;
  top: 40%;
  right: 0px;
  z-index: 2;
}
main header .reservation a {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main header .reservation a .call {
  transform: rotate(-90deg);
}
main header .reservation a .call h4 {
  color: #fff;
  font-size: 25px;
}
main header .reservation a .icon {
  border: 1px solid #c19d60;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  transition: all 0.5s;
}
main header .reservation a .icon img {
  width: 90%;
}
main header .reservation a .icon:hover {
  border-color: white;
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
main header .owl-carousel .owl-item.active .item .header .header-content h1 {
  animation-duration: 3s;
  animation-name: slidein;
}
main header .owl-carousel .owl-item.active .item .header .header-content h6 {
  animation-duration: 3s;
  animation-name: slidein;
}
main header .owl-carousel .owl-item.active .item .header .header-content h3 {
  animation-duration: 3s;
  animation-name: slidein;
}
main header .owl-carousel .owl-item.active .item .header .header-content a {
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: both;
}
@keyframes slidein {
  from {
    margin-top: 60px;
  }
  to {
    margin-top: 0;
  }
}
main header .owl-carousel .owl-item .item {
  width: 100%;
}
main header .owl-carousel .owl-item .item .header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
main header .owl-carousel .owl-item .item .header.bg-1 {
  background-image: url("../../images/home/banner-1.jpg");
}
main header .owl-carousel .owl-item .item .header.bg-2 {
  background-image: url("../../images/home/banner-2.jpg");
}
main header .owl-carousel .owl-item .item .header.bg-3 {
  background-image: url("../../images/home/banner-3.jpg");
}
main header .owl-carousel .owl-item .item .header .bg-color {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main header .owl-carousel .owl-item .item .header .bg-color .header-content {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main header .owl-carousel .owl-dots {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}
main header .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #c19d60;
  transition: all 0.5s;
}
main header .owl-carousel .owl-dots .owl-dot:hover span {
  border-color: #c19d60;
  background-color: #c19d60;
}
main header .owl-carousel .owl-dots .owl-dot:active span {
  border-color: #c19d60;
  background-color: #c19d60;
}
main header .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #c19d60;
}
main header .owl-carousel .owl-nav {
  display: none;
}
main #about {
  background-color: #f2eee8;
  padding: 100px 0 180px 0;
}
main #about .about {
  width: 100%;
  display: flex;
  gap: 2rem;
}
main #about .about .about-word {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #about .about .about-word p {
  font-style: italic;
}
main #about .about .about-word .reservation-about {
  display: flex;
  gap: 1rem;
}
main #about .about .about-word .reservation-about .icon img {
  width: 100%;
}
main #about .about .about-word .reservation-about h4 {
  color: #000;
  font-size: 27px;
}
main #about .about .img {
  width: 50%;
  display: flex;
  gap: 1.5rem;
}
main #about .about .img .img-1 {
  position: relative;
  top: 90px;
  width: 50%;
}
main #about .about .img .img-1 img {
  width: 100%;
}
main #about .about .img .img-2 {
  width: 50%;
}
main #about .about .img .img-2 img {
  width: 100%;
}
main #chef {
  padding: 130px 0;
  background-color: #1b1b1b;
}
main #chef .chef {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main #chef .chef .chef-img {
  width: 40%;
}
main #chef .chef .chef-img img {
  width: 100%;
}
main #chef .chef .chef-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 1rem;
}
main #chef .chef .chef-content h2 {
  color: #fff;
}
main #chef .chef .chef-content p {
  font-style: italic;
}
main #chef .chef .chef-content .about-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main #chef .chef .chef-content .about-bottom .img {
  width: 80px;
}
main #chef .chef .chef-content .about-bottom .img img {
  width: 100%;
}
main #recommends {
  padding: 100px 0;
  background-color: #f2eee8;
}
main #recommends .recommends .recommends-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
main #recommends .recommends .recommends-top h1 {
  text-align: center;
  font-family: "Pinyon Script", cursive;
  position: absolute;
  font-size: 140px;
  color: rgba(0, 0, 0, 0.05);
}
main #recommends .recommends .recommends-top .img-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main #recommends .recommends .recommends-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
main #recommends .recommends .recommends-top .img-line .img {
  width: 20px;
}
main #recommends .recommends .recommends-top .img-line .img img {
  width: 100%;
}
main #recommends .recommends .recommends-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
main #recommends .recommends .recommends-bottom .recommends-card {
  width: 30%;
  position: relative;
  overflow: hidden;
}
main #recommends .recommends .recommends-bottom .recommends-card .bg-img {
  position: relative;
  overflow: hidden;
}
main #recommends .recommends .recommends-bottom .recommends-card .bg-img img {
  transition: all 0.5s;
  width: 100%;
}
main #recommends .recommends .recommends-bottom .recommends-card .content {
  padding: 30px;
  position: absolute;
  bottom: -55px;
  text-align: center;
  width: 100%;
  transition: all 0.5s;
  z-index: 20;
  box-sizing: border-box;
  background: linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0.75) 90%);
  background: linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.01) 2%, rgba(0, 0, 0, 0.75) 90%);
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.01) 2%, rgba(0, 0, 0, 0.75) 90%);
}
main #recommends .recommends .recommends-bottom .recommends-card .content h4 {
  color: #fff;
  font-size: 27px;
  margin-bottom: 20px;
}
main #recommends .recommends .recommends-bottom .recommends-card .content h6 {
  font-style: italic;
  text-align: center;
  transition: all 0.3s ease;
}
main #recommends .recommends .recommends-bottom .recommends-card .content .line {
  text-align: center;
  height: 2px;
  width: 60px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  margin: 0 auto 30px;
}
main #recommends .recommends .recommends-bottom .recommends-card:hover .bg-img img {
  filter: none;
  transform: scale(1.09, 1.09);
  transition: all 1s ease;
}
main #recommends .recommends .recommends-bottom .recommends-card:hover .content {
  bottom: 0;
}
main #recommends .recommends .recommends-bottom .recommends-card:hover .content .line {
  width: 100%;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
main #hourse {
  background-image: url("../../images/banner5 (1).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main #hourse .hourse {
  position: relative;
  align-items: center;
  height: 80vh;
  display: flex;
  padding: 0 100px;
  gap: 50px;
}
main #hourse .hourse .hourse-left {
  width: 30%;
}
main #hourse .hourse .hourse-left .owl-carousel .hourse-content .user {
  display: flex;
}
main #hourse .hourse .hourse-left .owl-carousel .hourse-content .user .img {
  width: 50px;
  height: 50px;
}
main #hourse .hourse .hourse-left .owl-carousel .hourse-content .user .img img {
  border-radius: 50%;
  width: 100%;
}
main #hourse .hourse .hourse-left .owl-carousel .owl-dots {
  display: none;
}
main #hourse .hourse .hourse-left .owl-carousel .owl-nav {
  display: none;
}
main #hourse .hourse .hourse-right {
  position: absolute;
  right: 150px;
  bottom: -5%;
  padding: 100px 0;
  width: 40%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #hourse .hourse .hourse-right .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #hourse .hourse .hourse-right .content-box .cont {
  width: 40%;
}
main #hourse .hourse .hourse-right .content-box .line {
  height: 30px;
  border: 1px solid #c19d60;
}
main #services {
  background-color: #f2eee8;
  padding: 100px 50px;
}
main #services .services {
  display: flex;
  justify-content: center;
}
main #services .services .services-card {
  width: 30%;
  width: 50%;
  display: flex;
}
main #services .services .services-card .img {
  width: 30%;
}
main #services .services .services-card .img img {
  width: 100%;
}
main #features .features {
  position: relative;
}
main #features .features #features-top {
  padding: 200px 0;
  background-color: #1b1b1b;
}
main #features .features #features-top .features-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #features .features #features-top .features-top h1 {
  font-family: "Pinyon Script", cursive;
  position: absolute;
  right: 36%;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.1);
}
main #features .features #features-top .features-top h2 {
  color: white;
}
main #features .features #features-top .features-top .img-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #features .features #features-top .features-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
main #features .features #features-top .features-top .img-line .img img {
  width: 100%;
}
main #features .features #features-bottom {
  padding: 200px 0;
  background-color: #f2eee8;
  width: 100%;
}
main #features .features #features-bottom .features-bottom {
  top: 40%;
  left: 10%;
  position: absolute;
  display: flex;
  gap: 3rem;
}
main #features .features #features-bottom .features-bottom .features-card {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1 {
  width: 300px;
  min-height: 400px;
  height: auto;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1.front {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg);
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1.front.img-1 {
  background-image: url("../../images/card-1.jpg");
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1.front.img-2 {
  background-image: url("../../images/card-2.jpg");
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1.front.img-3 {
  background-image: url("../../images/card-3.jpg");
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1.back {
  background-color: #999;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1 .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  z-index: 2;
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1 .text .img {
  width: 80px;
}
main #features .features #features-bottom .features-bottom .features-card .features-card-1 .text p {
  text-align: center;
}
main #features .features #features-bottom .features-bottom .features-card:hover .features-card-1.front {
  transform: rotateY(-180deg);
}
main #features .features #features-bottom .features-bottom .features-card:hover .features-card-1.back {
  transform: rotateY(0deg);
}
main #menu-book {
  padding: 100px 0;
  background-color: #1b1b1b;
}
main #menu-book .menu-book {
  position: relative;
}
main #menu-book .menu-book .menu-bg-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  animation: example 1.5s linear infinite alternate;
}
main #menu-book .menu-book .menu-bg-img img {
  width: 100%;
}
@keyframes example {
  100% {
    transform: translateY(10px);
  }
}
main #menu-book .menu-book .menu-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #menu-book .menu-book .menu-top h1 {
  font-family: "Pinyon Script", cursive;
  position: absolute;
  right: 36%;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.1);
}
main #menu-book .menu-book .menu-top h2 {
  color: white;
}
main #menu-book .menu-book .menu-top .img-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #menu-book .menu-book .menu-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
main #menu-book .menu-book .menu-top .img-line .img img {
  width: 100%;
}
main #menu-book .menu-book .menu-bottom .menu-all-button {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 50px;
}
main #menu-book .menu-book .menu-bottom .menu-all-button .menu-button-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #menu-book .menu-book .menu-bottom .menu-all-button .menu-button-img .img img {
  width: 100%;
}
main #menu-book .menu-book .menu-bottom .menu-all-button .menu-button-img button {
  border: none;
  outline: none;
  font-family: "Libre Caslon Display", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #c19d60;
  background-color: transparent;
}
main #menu-book .menu-book .menu-bottom .menu-card-lists {
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
main #menu-book .menu-book .menu-bottom .menu-card-lists .menu-card {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
main #menu-book .menu-book .menu-bottom .menu-card-lists .menu-card .img {
  width: 100px;
  height: 100px;
}
main #menu-book .menu-book .menu-bottom .menu-card-lists .menu-card .img img {
  width: 100%;
  border-radius: 50%;
}
main #menu-book .menu-book .menu-bottom .menu-card-lists .menu-card .menu-content .name-price {
  display: flex;
  justify-content: space-between;
}
main #video {
  background-image: url("../../images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
}
main #video .bg-color {
  background-color: rgba(0, 0, 0, 0.5);
}
main #video .bg-color .video {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
main #video .bg-color .video h2 {
  color: white;
}
main #video .bg-color .video .video-play-cricle {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
main #video .bg-color .video .video-play-cricle .video-play {
  width: 100%;
  transition: all 1.2s;
}
main #video .bg-color .video .video-play-cricle .video-play img {
  width: 100%;
}
main #video .bg-color .video .video-play-cricle .video-play:hover {
  width: 75%;
}
main #meet-chef {
  position: relative;
}
main #meet-chef .meet-chef #meet-chef-top {
  padding: 100px 0;
  background-color: #1b1b1b;
}
main #meet-chef .meet-chef #meet-chef-top .meet-chef-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #meet-chef .meet-chef #meet-chef-top .meet-chef-top h1 {
  font-family: "Pinyon Script", cursive;
  position: absolute;
  right: 36%;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.1);
}
main #meet-chef .meet-chef #meet-chef-top .meet-chef-top .img-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #meet-chef .meet-chef #meet-chef-top .meet-chef-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main #meet-chef .meet-chef #meet-chef-top .meet-chef-top .img-line .img img {
  width: 100%;
}
main #meet-chef .meet-chef #meet-chef-bottom {
  padding: 150px 0;
  background-color: #fff;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  top: 20%;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item {
  margin-left: 5px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists {
  display: flex;
  gap: 2rem;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card {
  width: 30%;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .title-box {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 0;
  z-index: 2;
  background-color: #f2eee8;
  padding: 25px 0;
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
  border-radius: 1px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .title-box h3 {
  font-family: "Libre Caslon Display", serif;
  font-size: 20px;
  color: #1b1b1b;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .title-box h3 span {
  font-family: "Noah", sans-serif;
  font-size: 15px;
  color: #777;
  display: grid;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .title-box:before {
  transition: all ease 0.4s;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-img {
  position: relative;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-img img {
  width: 100%;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-img:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #1b1b1b;
  opacity: 0.9;
  visibility: hidden;
  transition: all ease 0.4s;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 38px;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content .social {
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.4s;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content .social a {
  font-size: 15px;
  color: #fff;
  margin: 0 5px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content .team-title {
  font-family: "Libre Caslon Display", serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content .team-title span {
  font-family: "Noah", sans-serif;
  font-size: 15px;
  color: #c19d60;
  font-weight: 400;
  display: grid;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card .team-content :before {
  transition: all ease 0.4s;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card:hover .team-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  margin-top: 1px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card:hover .team-content .social a {
  color: #c19d60;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card:hover .title-box {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 80px;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .item .team-card-lists .team-card:hover .team-img::before {
  height: 100%;
  visibility: visible;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .owl-dots {
  display: none;
}
main #meet-chef .meet-chef #meet-chef-bottom .meet-chef-bottom .owl-carousel .owl-nav {
  display: none;
}
main #wine-bar .wine-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main #wine-bar .wine-bar .left {
  height: 70vh;
  width: 50%;
  overflow: hidden;
}
main #wine-bar .wine-bar .left .bg-img img {
  width: 100%;
  transition: all 0.5s;
  height: 100%;
}
main #wine-bar .wine-bar .left .bg-img img:hover {
  transform: scale(1.2);
}
main #wine-bar .wine-bar .wine-bar-right {
  background-color: #1b1b1b;
  width: 50%;
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card .img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card .img img {
  width: 100%;
  border-radius: 50%;
  transition: all 0.5s;
  height: 100%;
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card .img img:hover {
  transform: scale(1.2);
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card .menu-content .name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #wine-bar .wine-bar .wine-bar-right .right .menu-card .menu-content .name-price .line {
  border-top: 3px dotted black;
  width: 40%;
}
main #food {
  padding: 100px 0;
}
main #food .food .food-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #food .food .food-top h1 {
  font-family: "Pinyon Script", cursive;
  position: absolute;
  right: 36%;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.1);
}
main #food .food .food-top .img-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #food .food .food-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main #food .food .food-top .img-line .img img {
  width: 100%;
}
main #food .food .food-bottom .item {
  width: 30%;
  background: #fdfbf8;
  padding: 40px 20px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  line-height: 1;
  text-align: center;
}
main #food .food .food-bottom .item h5 {
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 10px;
}
main #food .food .food-bottom .item span {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.5s;
}
main #food .food .food-bottom .item p {
  margin: 0;
  color: #1b1b1b;
}
main #food .food .food-bottom .item .shape {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  bottom: 15px;
  left: 120px;
}
main #food .food .food-bottom .item:hover h5 {
  color: #c19d60;
  transition: 0.5s;
}
main #food .food .food-bottom .item:hover span {
  transform: rotate(360deg);
}
main #new-menu .owl-carousel .item .new-menu {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #new-menu .owl-carousel .item .new-menu.bg-1 {
  background-image: url("../../images/new-1.jpg");
}
main #new-menu .owl-carousel .item .new-menu.bg-2 {
  background-image: url("../../images/new-2.jpg");
}
main #new-menu .owl-carousel .item .new-menu.bg-3 {
  background-image: url("../../images/new-3.jpg");
}
main #new-menu .owl-carousel .item .new-menu .bg-color {
  background-color: rgba(0, 0, 0, 0.6);
}
main #new-menu .owl-carousel .item .new-menu .bg-color .new-menu-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #new-menu .owl-carousel .item .new-menu .bg-color .new-menu-content .new {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c19d60;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #new-menu .owl-carousel .owl-dots {
  display: none;
}
main #new-menu .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 10px;
  position: absolute !important;
  top: 45% !important;
  bottom: auto !important;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: space-between;
}
main #new-menu .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  line-height: 45px;
  background: transparent;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  margin-right: 60px;
  margin-left: 60px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
main #new-menu .owl-carousel .owl-nav .owl-next span {
  font-size: 20px;
  color: white;
  transition: all 0.2s ease-in-out;
}
main #new-menu .owl-carousel .owl-nav .owl-next:hover {
  transform: scale(0.9);
  background: transparent;
  border: 1px solid #c19d60;
  color: #fff;
}
main #new-menu .owl-carousel .owl-nav .owl-next:hover span {
  font-size: 15px;
  color: #c19d60;
}
main #new-menu .owl-carousel .owl-nav .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 45px;
  background: transparent;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  margin-right: 60px;
  margin-left: 60px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
main #new-menu .owl-carousel .owl-nav .owl-prev span {
  font-size: 20px;
  color: white;
  transition: all 0.2s ease-in-out;
}
main #new-menu .owl-carousel .owl-nav .owl-prev:hover {
  transform: scale(0.9);
  background: transparent;
  border: 1px solid #c19d60;
  color: #fff;
}
main #new-menu .owl-carousel .owl-nav .owl-prev:hover span {
  font-size: 15px;
  color: #c19d60;
}
main #new-events .new-events #new-events-top {
  padding: 200px 0;
  background-color: #1b1b1b;
}
main #new-events .new-events #new-events-top .new-events-top {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #new-events .new-events #new-events-top .new-events-top h1 {
  position: absolute;
  right: 36%;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.1);
  font-family: "Pinyon Script", cursive;
}
main #new-events .new-events #new-events-top .new-events-top h2 {
  color: white;
}
main #new-events .new-events #new-events-top .new-events-top .img-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #new-events .new-events #new-events-top .new-events-top .img-line .line {
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
main #new-events .new-events #new-events-top .new-events-top .img-line .img img {
  width: 100%;
}
main #new-events #new-events-bottom .owl-carousel .item {
  width: 30%;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
main #new-events #new-events-bottom .owl-carousel .item .img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
main #new-events #new-events-bottom .owl-carousel .item .date {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
}
main #new-events #new-events-bottom .owl-carousel .item .date span {
  font-family: "Noah", sans-serif;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
main #new-events #new-events-bottom .owl-carousel .item .date span i {
  font-family: "Libre Caslon Display", serif;
  display: block;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  letter-spacing: 1px;
}
main #new-events #new-events-bottom .owl-carousel .item .con {
  margin: -165px 20px 90px;
  padding: 20px 20px 30px 20px;
  background-color: #f2eee8;
  border: 1px solid #f2eee8;
  border-radius: 0;
  transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
  bottom: -90px;
  position: relative;
}
main #new-events #new-events-bottom .owl-carousel .item .con .category {
  font-family: "Noah", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 3px;
}
main #new-events #new-events-bottom .owl-carousel .item .con .category h5 {
  color: #1b1b1b;
  font-size: 24px;
  margin-bottom: 0px;
}
main #new-events #new-events-bottom .owl-carousel .item .con .category p {
  color: #fff;
  font-size: 17px;
}
main #new-events #new-events-bottom .owl-carousel .item .con .category i {
  color: #fff;
  font-size: 20px;
}
main #new-events #new-events-bottom .owl-carousel .item:hover .img img {
  transform: scale(1.09, 1.09);
  transition: all 1s ease;
}
main #new-events #new-events-bottom .owl-carousel .item:hover .con {
  bottom: 0;
}
main #new-events #new-events-bottom .owl-carousel .owl-dots {
  width: 100%;
}
main #new-events #new-events-bottom .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #c19d60;
  transition: all 0.5s;
}
main #new-events #new-events-bottom .owl-carousel .owl-dots .owl-dot:hover span {
  border-color: #c19d60;
  background-color: #c19d60;
}
main #new-events #new-events-bottom .owl-carousel .owl-dots .owl-dot:active span {
  border-color: #c19d60;
  background-color: #c19d60;
}
main #new-events #new-events-bottom .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #c19d60;
}
main #new-events #new-events-bottom .owl-carousel .owl-nav {
  display: none;
}
main #reservation {
  background-image: url("../../images/banner-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main #reservation .bg-color {
  background-color: rgba(0, 0, 0, 0.5);
}
main #reservation .bg-color .reservation {
  height: 60vh;
}
main #logo {
  background-color: #1b1b1b;
  padding: 50px 100px;
}
main #logo .owl-carousel {
  width: 35%;
}
main #logo .owl-carousel .owl-item {
  margin-left: 25px;
}
main #logo .owl-carousel .owl-item .item {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
main #logo .owl-carousel .owl-item .item .logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  border-radius: 50%;
  height: 50px;
  transition: all 0.8s;
}
main #logo .owl-carousel .owl-item .item .logo.img-1 {
  background-image: url("../../images/wine1 (1).jpg");
}
main #logo .owl-carousel .owl-item .item .logo .bg-color {
  width: 100%;
  border-radius: 50%;
  height: 50px;
  background-color: rgba(119, 119, 119, 0.8);
  transition: all 0.8s;
}
main #logo .owl-carousel .owl-item .item .logo:hover .bg-color {
  background-color: rgba(119, 119, 119, 0);
}
main #logo .owl-carousel .owl-dots {
  display: none;
}
main #logo .owl-carousel .owl-nav {
  display: none;
}
main footer .footer #footer-top {
  padding: 90px 0 60px 0;
  background-color: #1b1b1b;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
main footer .footer #footer-top .footer-top {
  display: flex;
  justify-content: space-between;
}
main footer .footer #footer-top .footer-top .footer-column {
  width: 26%;
  margin-bottom: 30px;
}
main footer .footer #footer-top .footer-top .footer-column h3 {
  font-size: 30px;
  color: #c19d60;
  margin-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column p {
  font-size: 15px;
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language {
  width: 70%;
  margin-top: 30px;
  position: relative;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language i {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 20px;
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.7);
}
main footer .footer #footer-top .footer-top .footer-column .footer-language select {
  height: 52px;
  background: transparent;
  color: #777;
  border: 1px solid #c19d60;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border: 1px solid #777;
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language select option {
  color: #fff;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact {
  position: relative;
  display: block;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact h3 {
  margin-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact p {
  font-size: 15px;
  color: #777;
  padding-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-phone {
  font-family: "Libre Caslon Display", serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  display: block;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-mail {
  font-size: 15px;
  line-height: 3em;
  color: #777;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-mail:before {
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c19d60;
  content: "";
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-phone {
  color: #c19d60;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-mail {
  color: #fff;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-mail:before {
  background-color: #777;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list a:hover {
  background-color: transparent;
  color: #c19d60;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form {
  margin-top: 30px;
  position: relative;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input {
  width: 80%;
  padding: 14px 0 14px 60px;
  background-color: transparent;
  border: 1px solid #c19d60;
  color: #777;
  margin-bottom: 15px;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input::-moz-placeholder {
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input::placeholder {
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form button {
  background-color: #c19d60;
  padding: 12px 18px;
  outline: none;
  color: #fff;
  border: none;
  position: absolute;
  top: 4px;
  right: 5px;
  cursor: pointer;
  font-family: "Noah", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.5s;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form button:hover {
  background-color: #fff;
  color: #1b1b1b;
}
main footer .footer #footer-bottom {
  background-color: #1b1b1b;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
main footer .footer #footer-bottom .footer-bottom p {
  font-size: 13px;
  color: #777;
  text-align: center;
  transition: all 500ms ease;
}
main footer .footer #footer-bottom .footer-bottom p:hover {
  color: #c19d60;
}
@media screen and (max-width: 767px) {
  main {
    left: 0;
    width: 100%;
  }
  main header .reservation {
    display: none;
  }
  main #about .about {
    flex-direction: column;
    align-items: center;
  }
  main #about .about .about-word {
    width: 100%;
  }
  main #about .about .img {
    width: 100%;
  }
  main #chef .chef {
    flex-direction: column;
  }
  main #chef .chef .chef-img {
    width: 100%;
  }
  main #chef .chef .chef-content {
    width: 100%;
  }
  main #recommends .recommends .recommends-bottom {
    flex-direction: column;
  }
  main #recommends .recommends .recommends-bottom .recommends-card {
    width: 100%;
  }
  main #recommends .recommends .recommends-bottom .recommends-card .content {
    bottom: -60px;
  }
}/*# sourceMappingURL=home.css.map */