@import "../base/reset";
@import "../utils/variables";
@import "../base/typograpy";
@import "../utils/mixins";
@import "../base/global";
@import "../components/buttons";
@import "../layouts/header";
@import "../layouts/footer";
.spinner-loader {
  height: 100vh;
  display: block;
  background-color: white;

  #spinner {
    width: 52px;
    height: 52px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: wait;
  }
}
// Spinner child - svg line anim
svg.spinner-webkit {
  width: 80px;
  height: 80px;

  path {
    stroke-dasharray: 329;
    stroke-dashoffset: 0;
    stroke: $home-color;
    stroke-width: 1.8px;
    animation: draw 4s ease-in-out infinite;
    fill: transparent;
    fill-opacity: 0;
  }

  @keyframes draw {
    100% {
      stroke-dasharray: 329;
      stroke-dashoffset: 658;
    }
  }
}

//Spinner child - non-svg anim IE fallback
.spinner-ie {
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  position: absolute;
  display: none;
  animation: spin 0.5s linear infinite;
  border: 2px solid transparent;
  border-top: 2px solid $home-color;
  border-left: 2px solid $home-color;
  border-radius: 50px;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .spinner-webkit {
    display: none;
  }

  .spinner-ie {
    display: block;
  }
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  background: #c19d60;
  margin: 15px 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  flex-direction: column;
  gap: 4px;
  display: none;
  span {
    transition: all 0.5s;
    border: 1px solid white;
    width: 20px;
  }
  &:hover {
    gap: 8px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
#candore-aside {
  height: 100vh;
  background: #1b1b1b;
  // padding: 70px 50px;
  width: 15%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  @include flex(center, unset);
  flex-direction: column;
  gap: 100px;
  z-index: 1111;
  // display: none;
  .candore-logo {
    img {
      width: 100%;
    }
  }
  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        padding-bottom: 17px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.02);
        &.active {
          a {
            color: #c19d60;
          }
        }
        &:hover {
          a {
            color: #c19d60;
          }
        }
      }
    }
  }
  .candore-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 12px;
      color: #999;
    }
    ul {
      display: flex;
      gap: 1rem;
      li {
        a {
          i {
            font-size: 18px;
            color: #c19d60;
          }
          &:hover {
            i {
              color: #fff;
            }
          }
          &:focus {
            i {
              color: #fff;
            }
          }
          &:active {
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    left: -160px;
  }
}

main {
  display: none;
  position: absolute;
  right: 0;
  width: 85%;
  header {
    width: 100%;
    .reservation {
      position: absolute;
      top: 40%;
      right: 0px;
      z-index: 9999999;
      a {
        gap: 1rem;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        .call {
          transform: rotate(-90deg);
          h4 {
            color: #fff;
          }
          span {
            font-size: 18px;
          }
        }
        .icon {
          border: 1px solid white;
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          margin-top: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: pulse 2s infinite;
          img {
            width: 100%;
          }
        }
        @keyframes pulse {
          0% {
            transform: scale3d(1, 1, 1);
          }
          50% {
            transform: scale3d(1.05, 1.05, 1.05);
          }
          100% {
            transform: scale3d(1, 1, 1);
          }
        }
      }
    }
    .owl-carousel {
      .owl-item {
        &.active {
          .item {
            .header {
              .header-content {
                h1 {
                  animation-duration: 3s;
                  animation-name: slidein;
                }
                h6 {
                  animation-duration: 3s;
                  animation-name: slidein;
                }
                h3 {
                  animation-duration: 3s;
                  animation-name: slidein;
                }
                a {
                  animation-duration: 3s;
                  animation-name: slidein;
                  animation-fill-mode: both;
                }
                @keyframes slidein {
                  from {
                    margin-top: 60px;
                  }
                  to {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
        .item {
          width: 100%;

          .header {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            &.bg-1 {
              background-image: url("../../images/banner-1.jpg");
            }
            &.bg-2 {
              background-image: url("../../images/banner-2.jpg");
            }
            &.bg-3 {
              background-image: url("../../images/banner-3.jpg");
            }
            .bg-color {
              width: 100%;
              height: 100vh;
              background-color: rgba($color: #000000, $alpha: 0.7);
              @include flex();
              flex-direction: column;
              .header-content {
                gap: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
    .owl-theme {
      .owl-dots {
        position: absolute;
        bottom: 5vh;
        width: 100%;

        .owl-dot {
          span {
            width: 12px;
            height: 12px;
            margin: 0 3px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid $home-color;
            transition: all 0.5s;
          }
          &:hover {
            span {
              border-color: $home-color;
              background-color: $home-color;
            }
          }
          &:focus {
            span {
              border-color: $home-color;
              background-color: $home-color;
            }
          }
          &:active {
            span {
              border-color: $home-color;
              background-color: $home-color;
            }
          }
          &.active {
            span {
              background-color: $home-color;
            }
          }
        }
      }
    }
  }
  #about {
    background-color: #f2eee8;
    padding: 100px 50px;
    .about {
      width: 100%;
      display: flex;
      gap: 1rem;
      .about-word {
        width: 50%;
        .reservation-about {
          display: flex;
        }
      }
      .img-1 {
        position: relative;
        top: 50px;
        // right: 50px;
        width: 25%;
        img {
          width: 100%;
        }
      }
      .img-2 {
        width: 25%;
        img {
          width: 100%;
        }
      }
    }
  }
  #chef {
    padding: 100px;
    background-color: $text-color;
    .chef {
      display: flex;
      gap: 2rem;
      .chef-img {
        width: 40%;
        img {
          width: 100%;
        }
      }
      .chef-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .about-bottom {
          display: flex;
          gap: 3rem;
          align-items: center;
          h2 {
            color: $white-color;
          }
          .img {
            width: 100px;
            height: 100px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  #recommends {
    padding: 100px 80px;
    background-color: #f2eee8;
    .recommends {
      .recommends-top {
        margin-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        h1 {
          position: absolute;
          right: 36%;
          font-size: 150px;
          color: rgba($color: #000000, $alpha: 0.1);
        }
        .img-line {
          display: flex;
          align-items: center;
          gap: 1rem;
          .line {
            width: 50px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
          }
          .img {
            img {
              width: 100%;
            }
          }
        }
      }
      .recommends-bottom {
        display: flex;
        justify-content: space-between;
        .recommends-card {
          width: 30%;
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          .bg-img {
            position: relative;
            overflow: hidden;
            img {
              transition: all 0.5s;
              width: 100%;
            }
          }
          .content {
            padding: 30px;
            position: absolute;
            bottom: -55px;
            text-align: center;
            width: 100%;
            transition: all 0.3s;
            z-index: 20;
            height: auto;
            box-sizing: border-box;
            background: linear-gradient(
              top,
              transparent 0,
              rgba(0, 0, 0, 0.1) 2%,
              rgba(0, 0, 0, 0.75) 90%
            );
            background: linear-gradient(
              top,
              transparent 0,
              rgba(0, 0, 0, 0.01) 2%,
              rgba(0, 0, 0, 0.75) 90%
            );
            background: linear-gradient(
              to bottom,
              transparent 0,
              rgba(0, 0, 0, 0.01) 2%,
              rgba(0, 0, 0, 0.75) 90%
            );
            span {
              position: relative;
              color: #c19d60;
              font-family: "Noah", sans-serif;
              font-weight: 400;
              font-size: 12px;
              margin-bottom: 10px;
              text-transform: uppercase;
              letter-spacing: 3px;
            }
            h4 {
              position: relative;
              color: #fff;
              font-size: 27px;
            }
            h6 {
              font-family: "Noah", sans-serif;
              font-size: 15px;
              font-style: italic;
              color: #fff;
              height: 0;
              overflow: hidden;
              text-align: center;
              transition: all 0.3s ease;
              display: inline;
            }
            .line {
              text-align: center;
              height: 1px;
              width: 60px;
              background-color: #fff;
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: ease-in-out;
              margin: 0 auto 30px;
            }
          }

          &:hover {
            .bg-img {
              img {
                filter: none;
                transform: scale(1.09, 1.09);
                transition: all 1s ease;
              }
            }
            .content {
              bottom: 0;
              .line {
                width: 100%;
                transition-property: all;
                transition-duration: 0.8s;
                transition-timing-function: ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  #hourse {
    background-image: url("../../images/banner5\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .hourse {
      position: relative;
      align-items: center;
      height: 80vh;
      display: flex;
      // justify-content: center;
      padding: 0 100px;
      gap: 50px;
      .hourse-left {
        width: 30%;
        .owl-carousel {
          .hourse-content {
            .user {
              display: flex;
              .img {
                width: 50px;
                height: 50px;
                img {
                  border-radius: 50%;
                  width: 100%;
                }
              }
            }
          }
          .owl-dots {
            display: none;
          }
        }
      }
      .hourse-right {
        position: absolute;
        right: 150px;
        bottom: -5%;
        padding: 100px 0;
        width: 40%;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-box {
          display: flex;
          justify-content: center;
          align-items: center;
          .cont {
            width: 40%;
          }
          .line {
            height: 30px;
            border: 1px solid #c19d60;
          }
        }
      }
    }
  }
  #services {
    background-color: #f2eee8;
    padding: 100px 50px;
    .services {
      display: flex;
      justify-content: center;
      .services-card {
        width: 30%;
        .img {
          width: 30%;
          img {
            width: 100%;
          }
        }
        width: 50%;
        display: flex;
      }
    }
  }
  #features {
    .features {
      position: relative;
      #features-top {
        padding: 200px 0;
        background-color: #1b1b1b;
        .features-top {
          margin-bottom: 50px;
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          h1 {
            position: absolute;
            right: 36%;
            font-size: 150px;
            color: rgba($color: #fff, $alpha: 0.1);
          }
          h2 {
            color: white;
          }
          .img-line {
            display: flex;
            align-items: center;
            gap: 1rem;
            .line {
              width: 50px;
              border: 1px solid rgba($color: #fff, $alpha: 0.1);
            }
            .img {
              img {
                width: 100%;
              }
            }
          }
        }
      }
      #features-bottom {
        padding: 200px 0;
        background-color: #f2eee8;
        width: 100%;
        .features-bottom {
          top: 40%;
          left: 10%;
          position: absolute;
          display: flex;
          gap: 3rem;
          .features-card {
            width: 100%;
            // margin: 20px;
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            .features-card-1 {
              width: 300px;
              min-height: 400px;
              height: auto;
              text-align: center;
              backface-visibility: hidden;
              transform-style: preserve-3d;
              transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
              &.front {
                background-color: #000000;
                background-size: cover;
                background-position: center;
                transform: rotateY(0deg);
                &.img-1 {
                  background-image: url("../../images/card-1.jpg");
                }
                &.img-2 {
                  background-image: url("../../images/card-2.jpg");
                }
                &.img-3 {
                  background-image: url("../../images/card-3.jpg");
                }
              }
              &.back {
                background-color: #999;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(180deg);
              }
              &::after {
                content: "";
                height: 100%;
                width: 100%;
                background-color: #0a0a0a;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.6;
              }
              .text {
                // width: 100%;
                // padding: 40px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateZ(60px) scale(0.94);
                z-index: 2;
                .img {
                  width: 80px;
                  // margin-bottom: 20px;
                }
                // h4 {
                //   margin-bottom: 8px;
                //   text-transform: capitalize;
                // }
                p {
                  text-align: center;
                }
              }
            }
            &:hover {
              .features-card-1 {
                &.front {
                  transform: rotateY(-180deg);
                }
                &.back {
                  transform: rotateY(0deg);
                }
              }
            }
          }
        }
      }
    }
  }
  #menu-book {
    padding: 100px 0;
    background-color: #1b1b1b;
    .menu-book {
      position: relative;

      .menu-bg-img {
        position: absolute;
        bottom: 20px;
        right: 20px;
        img {
          width: 100%;
        }
        animation: example 1.5s linear infinite alternate;
      }
      @keyframes example {
        100% {
          transform: translateY(10px);
        }
      }

      .menu-top {
        margin-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        h1 {
          position: absolute;
          right: 36%;
          font-size: 150px;
          color: rgba($color: #fff, $alpha: 0.1);
        }
        h2 {
          color: white;
        }
        .img-line {
          display: flex;
          align-items: center;
          gap: 1rem;
          .line {
            width: 50px;
            border: 1px solid rgba($color: #fff, $alpha: 0.1);
          }
          .img {
            img {
              width: 100%;
            }
          }
        }
      }
      .menu-bottom {
        .menu-all-button {
          display: flex;
          justify-content: center;
          gap: 5rem;
          margin-bottom: 50px;
          .menu-button-img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .img {
              img {
                width: 100%;
              }
            }
            button {
              border: none;
              outline: none;
              font-family: $font-libre;
              font-size: 30px;
              font-weight: 400;
              line-height: 38px;
              color: $home-color;
              background-color: transparent;
            }
          }
        }
        .menu-card-lists {
          padding: 0 100px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          .menu-card {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
            .img {
              width: 100px;
              height: 100px;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }
            .menu-content {
              .name-price {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }
  #video {
    background-image: url("../../images/banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    width: 100%;
    background-attachment: fixed;
    .bg-color {
      background-color: rgba($color: #000000, $alpha: 0.5);
      .video {
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        h2 {
          color: white;
        }
        .video-play-cricle {
          display: flex;
          justify-content: center;
          width: 100px;
          height: 100px;
          .video-play {
            width: 100%;
            transition: all 1.2s;
            img {
              width: 100%;
            }
            &:hover {
              width: 75%;
            }
          }
        }
      }
    }
  }
  #meet-chef {
    position: relative;
    .meet-chef {
      #meet-chef-top {
        padding: 100px 0;
        background-color: #1b1b1b;
        .meet-chef-top {
          margin-bottom: 50px;
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          h1 {
            position: absolute;
            right: 36%;
            font-size: 150px;
            color: rgba($color: #000000, $alpha: 0.1);
          }
          .img-line {
            display: flex;
            align-items: center;
            gap: 1rem;
            .line {
              width: 50px;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
            .img {
              img {
                width: 100%;
              }
            }
          }
        }
      }

      #meet-chef-bottom {
        position: absolute;
        top: 60%;
        .meet-chef-bottom {
          .owl-carousel {
            .item {
              width: 30%;
              .team-card {
                text-align: center;
                position: relative;
                padding-bottom: 40px;
                .title-box {
                  position: absolute;
                  left: 40px;
                  right: 40px;
                  bottom: 0;
                  z-index: 2;
                  background-color: #f2eee8;
                  padding: 25px 0;
                  opacity: 1;
                  visibility: visible;
                  margin-bottom: 0;
                  border-radius: 1px;
                  h3 {
                    font-family: "Libre Caslon Display", serif;
                    font-size: 20px;
                    color: #1b1b1b;
                    span {
                      font-family: "Noah", sans-serif;
                      font-size: 15px;
                      color: #777;
                      display: grid;
                    }
                  }
                  &:before {
                    transition: all ease 0.4s;
                  }
                }
                .team-img {
                  position: relative;
                  img {
                    width: 100%;
                  }
                  &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 0;
                    width: 100%;
                    background-color: #1b1b1b;
                    opacity: 0.9;
                    visibility: hidden;
                    // -webkit-transition: all ease 0.4s;
                    transition: all ease 0.4s;
                  }
                }
                .team-content {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  padding-bottom: 38px;
                  margin-top: 50px;
                  opacity: 0;
                  visibility: hidden;
                  .social {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    // -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    a {
                      font-size: 15px;
                      color: #fff;
                      margin: 0 5px;
                    }
                  }
                  .team-title {
                    font-family: "Libre Caslon Display", serif;
                    font-size: 24px;
                    color: #fff;
                    font-weight: 400;
                    span {
                      font-family: "Noah", sans-serif;
                      font-size: 15px;
                      color: #c19d60;
                      font-weight: 400;
                      display: grid;
                    }
                  }
                  :before {
                    // -webkit-transition: all ease 0.4s;
                    transition: all ease 0.4s;
                  }
                }

                &:hover {
                  .team-content {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.2s;
                    margin-top: 1px;
                    .social {
                      a {
                        color: #c19d60;
                      }
                    }
                  }
                  .title-box {
                    opacity: 0;
                    visibility: hidden;
                    margin-bottom: 80px;
                  }
                  .team-img::before {
                    height: 100%;
                    visibility: visible;
                  }
                }
              }
            }
            .owl-dots {
              display: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    left: 0;
    width: 100%;
  }
}
