@import "../base/reset";
@import "../utils/variables";
@import "../base/typograpy";
@import "../utils/mixins";
@import "../base/global";
@import "../components/spinner-modal-scroll";
@import "../components/buttons";
@import "../layouts/header";
@import "../layouts/footer";

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.5%;
  header {
    .header {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      background-image: url("../../images/bg-about-us.jpg");
      .bg-color {
        width: 100%;
        padding: 310px 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        @include flex();
        flex-direction: column;
        .header-content {
          gap: 1.5rem;
          @include flex();
          flex-direction: column;

          h6 {
            letter-spacing: 10px;
          }
          .down-icon {
            @include flex();
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            border-radius: 50%;
            border: 1px solid $home-color;
            animation: bounce 2s infinite;
            i {
              color: $home-color;
            }
          }
          @keyframes bounce {
            0%,
            20%,
            53%,
            80%,
            100% {
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              transform: translate3d(0, 0, 0);
            }

            70% {
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              transform: translate3d(0, -15px, 0);
            }
            90% {
              transform: translate3d(0, -4px, 0);
            }
          }
        }
      }
    }
  }
  #shop {
    padding: 100px 0;
    background-color: #1b1b1b;
    .shop {
      gap: 1rem;
      @include flex(center, unset);
      .shop-table {
        width: 70%;

        table {
          // table-layout: fixed;
          border-collapse: collapse;
          width: 100%;
          thead {
            tr {
              th {
                padding: 10px 0;
                text-align: center;
                border: 1px solid #c19d60;
                background-color: #272727;
              }
            }
          }
          tbody {
            tr {
              td {
                // height: 80px;
                position: relative;
                // padding: 10px 0;
                text-align: center;
                border: 1px solid #c19d60;
                &.image {
                  // width: 50px;
                  .img {
                    top: 12%;
                    left: 5%;
                    position: absolute;
                    width: 40px;
                    img {
                      width: 100%;
                    }
                  }
                }

                p {
                  font-size: 16px;
                }
                span {
                  width: 30px;
                  font-size: 20px;
                }
                &.btn {
                  // border: unset;
                  @include flex();
                  .dec-inc-btn {
                    width: 50px;
                    display: flex;
                    flex-direction: column;
                  }
                }

                h5 {
                  width: 50px;
                  font-size: 15px;
                  color: #c19d60;
                }
              }
              button {
                background-color: transparent;
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
      }
      .shop-box {
        width: 30%;
        background-color: #272727;
        padding: 30px;
        h5 {
          font-size: 20px;
        }
        table {
          // table-layout: fixed;
          margin-top: 20px;
          border: 1px solid #c19d60;
          width: 100%;
          tr {
            td {
              padding: 10px 0;
              text-align: center;
              border: 1px solid #c19d60;
              p {
                font-size: 15px;
              }
              h5 {
                font-size: 18px;
                color: #c19d60;
              }
            }
          }
        }
        button {
          margin-top: 20px;
          @extend %btn;
          width: 100%;
          background-color: #c19d60;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    left: 0;
    width: 100%;
    header {
      text-align: center;
    }
    #shop {
      .shop {
        flex-direction: column;
        .shop-table {
          width: 100%;
          overflow: scroll;
          td {
            height: 80px;
            &.image {
              width: 50px;
            }
          }
        }
        .shop-box {
          width: 82%;
        }
      }
    }
  }
}
