@import "../base/reset";
@import "../utils/variables";
@import "../base/typograpy";
@import "../utils/mixins";
@import "../base/global";
@import "../components/spinner-modal-scroll";
@import "../components/buttons";
@import "../layouts/header";
@import "../layouts/footer";

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.5%;
  header {
    .header {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      background-image: url("../../images/1\ \(2\).jpg");
      .bg-color {
        width: 100%;
        padding: 200px 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        @include flex();
        flex-direction: column;
        .header-content {
          gap: 1.5rem;
          @include flex();
          flex-direction: column;
          h6 {
            letter-spacing: 10px;
          }
          .down-icon {
            @include flex();
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            border-radius: 50%;
            border: 1px solid $home-color;
            animation: bounce 2s infinite;
            i {
              color: $home-color;
            }
          }
          @keyframes bounce {
            0%,
            20%,
            53%,
            80%,
            100% {
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              transform: translate3d(0, 0, 0);
            }

            70% {
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              transform: translate3d(0, -15px, 0);
            }
            90% {
              transform: translate3d(0, -4px, 0);
            }
          }
        }
      }
    }
  }
  #vakan {
    padding: 100px 0;
    background-color: $about-color;
    .vakan {
      position: relative;
      @include flex(space-between);
      gap: 1rem;
      .vakan-left {
        padding: 50px 20px;
        background-color: #1b1b1b;
        width: 40%;
        h3 {
          margin-bottom: 20px;
        }
        form {
          @include flex();
          gap: 1rem;
          flex-wrap: wrap;
          #cv-label {
            position: relative;
            width: 40%;
            padding: 15px 12px;
            background-color: #fff;
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
          input {
            width: 40%;
            padding: 20px 12px;
            &::placeholder {
              color: black;
              font-family: $font-noto;
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
              //   text-align: center;
            }
            &#cv-vakan {
              position: absolute;
              visibility: hidden;
            }
          }
          select {
            padding: 20px 10px;
            width: 46%;
            &::placeholder {
              color: black;
              font-family: $font-noto;
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
            }
          }
          textarea {
            padding: 20px 10px;
            width: 91%;
            &::placeholder {
              color: black;
              font-family: $font-noto;
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
            }
          }
          button {
            @extend %btn;
            background-color: $home-color;
            width: 96%;
            &:hover {
              background-color: transparent;
              color: $home-color;
            }
          }
        }
      }
      .vakan-right {
        width: 50%;

        .owl-carousel {
          .vakan-content {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            .star-icon {
              i {
                font-size: 13px;
                color: $home-color;
              }
            }
            p {
              font-style: italic;
              font-size: 20px;
            }
            .user {
              display: flex;
              gap: 1rem;
              .img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 1px solid $home-color;
                padding: 2px;
                img {
                  border-radius: 50%;
                  width: 100%;
                }
              }
              .name {
                h6 {
                  color: #1b1b1b;
                  font-size: 15px;
                }
              }
            }
          }
          .owl-dots {
            display: none;
          }
          .owl-nav {
            display: none;
          }
        }
      }
    }
  }
  #announcement {
    background-color: #1b1b1b;
    padding: 100px 0;
    .announcement {
      h2 {
        color: $home-color;
        margin-bottom: 50px;
        text-align: center;
      }
      .announcement-tabel {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        thead {
          tr {
            th {
              border: 1px solid $home-color;
            }
          }
        }
        tbody {
          tr {
            td {
              h5 {
                font-size: 20px;
              }
              border: 1px solid $home-color;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    left: 0;
    width: 100%;
    #vakan {
      .vakan {
        flex-direction: column;
        justify-content: center;
        .vakan-left {
          width: 100%;
          form {
            flex-wrap: unset;
            flex-direction: column;
            textarea {
              width: 93%;
            }
            select {
              width: 96%;
            }
            input {
              width: 92%;
            }

            #cv-label {
              width: 92%;
            }
          }
        }
        .vakan-right {
          width: 100%;
        }
      }
    }
  }
}
