/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  text-decoration: none;
  outline: none;
  border: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

h2 {
  font-family: "Libre Caslon Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: #1b1b1b;
}

h3 {
  font-family: "Libre Caslon Display", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  color: #c19d60;
}

h4 {
  font-family: "Libre Caslon Display", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #c19d60;
}

h5 {
  font-family: "Libre Caslon Display", serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

h6 {
  font-family: "Noah", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

p {
  color: #777777;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #fff;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

span {
  font-family: "Noah", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #c19d60;
  letter-spacing: 3px;
  line-height: 1.75em;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1250px) {
  .container {
    padding: 0 5%;
  }
}

#lvideo-wrap {
  position: fixed;
  height: 100dvh;
  z-index: 9991;
  opacity: 0;
  visibility: hidden;
}
#lvideo-wrap, #lvideo-wrap:after,
#lvideo-wrap .lvideo-overlay {
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
#lvideo-wrap .lvideo-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lvideo-wrap video,
#lvideo-wrap iframe {
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  background-color: #000;
  z-index: 10;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.16);
  display: block;
  max-width: 1280px;
  height: auto;
  width: 90%;
  aspect-ratio: 16/9;
}
#lvideo-wrap .lvideo-close {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: solid 2px rgba(0, 0, 0, 0.5);
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 150;
}
#lvideo-wrap .lvideo-close:before, #lvideo-wrap .lvideo-close:after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all 0.3s ease-in-out;
}
#lvideo-wrap .lvideo-close:before {
  transform: rotate(42deg);
}
#lvideo-wrap .lvideo-close:after {
  transform: rotate(-42deg);
}
#lvideo-wrap .lvideo-close:focus {
  outline: none;
}
#lvideo-wrap .lvideo-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#lvideo-wrap .lvideo-close:hover:before, #lvideo-wrap .lvideo-close:hover:after {
  background-color: #fff;
}
#lvideo-wrap.active {
  opacity: 1;
  visibility: visible;
}
#lvideo-wrap.active:after {
  opacity: 0.5;
}

/* #Progress
================================================== */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #c19d60;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

.progress-wrap i {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* content: '\f062'; */
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: #c19d60;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.spinner-loader {
  height: 100vh;
  display: block;
  background-color: white;
}
.spinner-loader #spinner {
  width: 52px;
  height: 52px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: wait;
}

svg.spinner-webkit {
  width: 80px;
  height: 80px;
}
svg.spinner-webkit path {
  stroke-dasharray: 329;
  stroke-dashoffset: 0;
  stroke: #c19d60;
  stroke-width: 1.8px;
  animation: draw 4s ease-in-out infinite;
  fill: transparent;
  fill-opacity: 0;
}
@keyframes draw {
  100% {
    stroke-dasharray: 329;
    stroke-dashoffset: 658;
  }
}

.spinner-ie {
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  position: absolute;
  display: none;
  animation: spin 0.5s linear infinite;
  border: 2px solid transparent;
  border-top: 2px solid #c19d60;
  border-left: 2px solid #c19d60;
  border-radius: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .spinner-webkit {
    display: none;
  }
  .spinner-ie {
    display: block;
  }
}
main #vakan .vakan .vakan-left form button, main footer .footer #footer-top .footer-top .footer-column .subscribe form button, main #reservation .bg-color .reservation .reservation-box form button {
  outline: none;
  border: 1px solid #c19d60;
  font-family: "Noah", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  padding: 5px 25px;
  background-color: transparent;
  transition: all 0.5s;
}
main #vakan .vakan .vakan-left form button:hover, main footer .footer #footer-top .footer-top .footer-column .subscribe form button:hover, main #reservation .bg-color .reservation .reservation-box form button:hover {
  background-color: #c19d60;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  background: #c19d60;
  margin: 15px 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  flex-direction: column;
  gap: 4px;
  display: none;
}
.navbar span {
  transition: all 0.5s;
  border: 1px solid white;
  width: 20px;
}
.navbar:hover {
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
  }
  .navbar.menu-icon {
    left: 230px;
    gap: unset;
  }
  .navbar.menu-icon .line1 {
    position: absolute;
    transform: rotate(45deg);
  }
  .navbar.menu-icon .line2 {
    position: absolute;
    transform: rotate(-45deg);
  }
  .navbar.menu-icon .line3 {
    display: none;
  }
}

#candore-aside {
  height: 100vh;
  background: #1b1b1b;
  width: 15%;
  padding: 70px 50px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  gap: 70px;
  z-index: 1111;
  transition: all 0.5s ease;
}
#candore-aside .candore-logo {
  max-width: 200px;
}
#candore-aside .candore-logo img {
  width: 100%;
}
#candore-aside nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#candore-aside nav ul li {
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
#candore-aside nav ul li .faq-list {
  border: unset;
  padding: 0;
}
#candore-aside nav ul li.active a {
  color: #c19d60;
}
#candore-aside nav ul li .pages {
  position: relative;
  z-index: -1;
  padding: 0 0 0 10px;
  transition: all 0.5s;
  height: 0;
  opacity: 0;
}
#candore-aside nav ul li .pages.pages-ul {
  z-index: 1;
  padding: 15px 0 0 10px;
  height: 230px;
  opacity: 1;
}
#candore-aside nav ul li .pages li {
  padding-top: 10px;
}
#candore-aside .candore-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#candore-aside .candore-footer .aside-icons {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#candore-aside .candore-footer .aside-icons .user-icon {
  display: flex;
  gap: 15px;
}
#candore-aside .candore-footer .aside-icons .count-basket {
  border-radius: 50%;
  background-color: red;
  padding: 0 4px;
}
#candore-aside .candore-footer p {
  font-size: 12px;
  color: #999;
}
#candore-aside .candore-footer ul {
  display: flex;
  gap: 1rem;
}
#candore-aside .candore-footer ul li a i {
  color: #c19d60;
  transition: all 0.5s ease;
}
#candore-aside .candore-footer ul li a:hover i {
  color: #fff;
}
#candore-aside .candore-footer ul li a:active i {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #candore-aside {
    left: -250px;
    width: 20%;
  }
  #candore-aside.aside {
    left: 0px;
  }
}

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.5%;
}
main #reservation {
  background-image: url("../../images/home/banner-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main #reservation .bg-color {
  padding: 120px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
main #reservation .bg-color .reservation {
  position: relative;
  display: flex;
  gap: 1rem;
}
main #reservation .bg-color .reservation .reservation-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #reservation .bg-color .reservation .reservation-content .star-icon i {
  font-size: 13px;
  color: #c19d60;
}
main #reservation .bg-color .reservation .reservation-content h4 {
  font-size: 32px;
  color: #fff;
}
main #reservation .bg-color .reservation .reservation-content .reservation-about {
  display: flex;
  gap: 1rem;
}
main #reservation .bg-color .reservation .reservation-content .reservation-about .icon img {
  width: 100%;
}
main #reservation .bg-color .reservation .reservation-content .reservation-about h4 {
  font-size: 27px;
}
main #reservation .bg-color .reservation .reservation-box {
  width: 40%;
  background-color: #f2eee8;
  padding: 50px 20px;
  position: absolute;
  right: 0px;
  bottom: -80%;
}
main #reservation .bg-color .reservation .reservation-box h2 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}
main #reservation .bg-color .reservation .reservation-box form {
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid #c19d60;
  padding-top: 20px;
}
main #reservation .bg-color .reservation .reservation-box form input {
  width: 40%;
  padding: 20px 10px;
}
main #reservation .bg-color .reservation .reservation-box form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #reservation .bg-color .reservation .reservation-box form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #reservation .bg-color .reservation .reservation-box form select {
  width: 45%;
  padding: 20px 10px;
}
main #reservation .bg-color .reservation .reservation-box form button {
  background-color: #c19d60;
  width: 95%;
}
main #reservation .bg-color .reservation .reservation-box form button:hover {
  background-color: transparent;
  color: #c19d60;
}
main #logo {
  background-color: #1b1b1b;
  padding: 50px 0 0 0;
}
main #logo .owl-carousel {
  width: 45%;
}
main #logo .owl-carousel .owl-item {
  margin-left: 25px;
}
main #logo .owl-carousel .owl-item .item .all-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
main #logo .owl-carousel .owl-item .item .all-logos .logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100px;
  border-radius: 50%;
  height: 50px;
  transition: all 0.8s;
}
main #logo .owl-carousel .owl-item .item .all-logos .logo.img-1 {
  background-image: url("../../images/home/logo-1.png");
}
main #logo .owl-carousel .owl-item .item .all-logos .logo.img-2 {
  background-image: url("../../images/home/logo-2.png");
}
main #logo .owl-carousel .owl-item .item .all-logos .logo.img-3 {
  background-image: url("../../images/home/logo-3.png");
}
main #logo .owl-carousel .owl-item .item .all-logos .logo.img-4 {
  background-image: url("../../images/home/logo-4.png");
}
main #logo .owl-carousel .owl-item .item .all-logos .logo.img-5 {
  background-image: url("../../images/home/logo-5.png");
}
main #logo .owl-carousel .owl-item .item .all-logos .logo .bg-color {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.5);
  transition: all 0.8s;
}
main #logo .owl-carousel .owl-item .item .all-logos .logo:hover .bg-color {
  background-color: rgba(119, 119, 119, 0);
}
main #logo .owl-carousel .owl-dots {
  display: none;
}
main #logo .owl-carousel .owl-nav {
  display: none;
}
main footer .footer #footer-top {
  padding: 90px 0 60px 0;
  background-color: #1b1b1b;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
main footer .footer #footer-top .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: unset;
}
main footer .footer #footer-top .footer-top .footer-column {
  width: 26%;
  margin-bottom: 30px;
}
main footer .footer #footer-top .footer-top .footer-column h3 {
  font-size: 30px;
  color: #c19d60;
  margin-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column p {
  font-size: 13px;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language {
  width: 70%;
  margin-top: 30px;
  position: relative;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language i {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 20px;
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.7);
}
main footer .footer #footer-top .footer-top .footer-column .footer-language select {
  height: 52px;
  background: transparent;
  color: #777;
  border: 1px solid #c19d60;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border: 1px solid #c19d60;
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .footer-language select option {
  color: black;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact {
  position: relative;
  display: block;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact h3 {
  margin-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact p {
  font-size: 15px;
  padding-bottom: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-phone {
  font-family: "Libre Caslon Display", serif;
  font-size: 24px;
  font-weight: 400;
  display: block;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-mail {
  font-size: 15px;
  line-height: 3em;
  color: #777;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info .footer-contact-mail:before {
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c19d60;
  content: "";
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-phone {
  color: #c19d60;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-mail {
  color: #fff;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-contact-info:hover .footer-contact-mail:before {
  background-color: #777;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list a {
  display: flex;
  justify-content: unset;
  align-items: center;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  transition: all 0.5s ease;
}
main footer .footer #footer-top .footer-top .footer-column.footer-contact .footer-about-social-list a:hover {
  background-color: transparent;
  color: #c19d60;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form {
  margin-top: 30px;
  position: relative;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input {
  width: 100%;
  padding: 15px 0px 15px 20px;
  height: 100%;
  width: 80%;
  background-color: transparent;
  border: 1px solid #c19d60;
  color: #777;
  margin-bottom: 15px;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input::-moz-placeholder {
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form input::placeholder {
  color: #777;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form button {
  background-color: #c19d60;
  padding: 5.5px 15px;
  position: absolute;
  right: 0;
}
main footer .footer #footer-top .footer-top .footer-column .subscribe form button:hover {
  background-color: #fff;
  color: #1b1b1b;
}
main footer .footer #footer-bottom {
  background-color: #1b1b1b;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
main footer .footer #footer-bottom .footer-bottom p {
  font-size: 13px;
  text-align: center;
  transition: all 500ms ease;
}
main footer .footer #footer-bottom .footer-bottom p:hover {
  color: #c19d60;
}
@media screen and (max-width: 767px) {
  main {
    left: 0;
    width: 100%;
  }
  main #reservation .bg-color .reservation {
    flex-direction: column;
  }
  main #reservation .bg-color .reservation .reservation-content {
    width: 100%;
  }
  main #reservation .bg-color .reservation .reservation-box {
    position: unset;
    width: 90%;
  }
  main #reservation .bg-color .reservation .reservation-box form {
    flex-direction: column;
  }
  main #reservation .bg-color .reservation .reservation-box form input {
    width: 96%;
  }
  main #reservation .bg-color .reservation .reservation-box form select {
    width: 100%;
  }
  main #reservation .bg-color .reservation .reservation-box form button {
    width: 100%;
  }
  main #logo .owl-carousel {
    width: 100%;
  }
  main #logo .owl-carousel .owl-item .item .all-logos .logo {
    height: 100px;
    width: 25%;
  }
  main footer .footer #footer-top .footer-top {
    flex-direction: column;
  }
  main footer .footer #footer-top .footer-top .footer-column {
    width: 100%;
  }
  main footer .footer #footer-top .footer-top .footer-column .subscribe form input {
    width: 90.5%;
  }
  main footer .footer #footer-bottom .footer-bottom p {
    text-align: unset;
  }
}

main {
  display: none;
  position: absolute;
  right: 0;
  width: 78.5%;
}
main header .header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-image: url("../../images/1 (2).jpg");
}
main header .header .bg-color {
  width: 100%;
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main header .header .bg-color .header-content {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main header .header .bg-color .header-content h6 {
  letter-spacing: 10px;
}
main header .header .bg-color .header-content .down-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  border: 1px solid #c19d60;
  animation: bounce 2s infinite;
}
main header .header .bg-color .header-content .down-icon i {
  color: #c19d60;
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
main #vakan {
  padding: 100px 0;
  background-color: #f2eee8;
}
main #vakan .vakan {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main #vakan .vakan .vakan-left {
  padding: 50px 20px;
  background-color: #1b1b1b;
  width: 40%;
}
main #vakan .vakan .vakan-left h3 {
  margin-bottom: 20px;
}
main #vakan .vakan .vakan-left form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
main #vakan .vakan .vakan-left form #cv-label {
  position: relative;
  width: 40%;
  padding: 15px 12px;
  background-color: #fff;
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form input {
  width: 40%;
  padding: 20px 12px;
}
main #vakan .vakan .vakan-left form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form input#cv-vakan {
  position: absolute;
  visibility: hidden;
}
main #vakan .vakan .vakan-left form select {
  padding: 20px 10px;
  width: 46%;
}
main #vakan .vakan .vakan-left form select::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form select::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form textarea {
  padding: 20px 10px;
  width: 91%;
}
main #vakan .vakan .vakan-left form textarea::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form textarea::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
main #vakan .vakan .vakan-left form button {
  background-color: #c19d60;
  width: 96%;
}
main #vakan .vakan .vakan-left form button:hover {
  background-color: transparent;
  color: #c19d60;
}
main #vakan .vakan .vakan-right {
  width: 50%;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content .star-icon i {
  font-size: 13px;
  color: #c19d60;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content p {
  font-style: italic;
  font-size: 20px;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content .user {
  display: flex;
  gap: 1rem;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content .user .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #c19d60;
  padding: 2px;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content .user .img img {
  border-radius: 50%;
  width: 100%;
}
main #vakan .vakan .vakan-right .owl-carousel .vakan-content .user .name h6 {
  color: #1b1b1b;
  font-size: 15px;
}
main #vakan .vakan .vakan-right .owl-carousel .owl-dots {
  display: none;
}
main #vakan .vakan .vakan-right .owl-carousel .owl-nav {
  display: none;
}
main #announcement {
  background-color: #1b1b1b;
  padding: 100px 0;
}
main #announcement .announcement h2 {
  color: #c19d60;
  margin-bottom: 50px;
  text-align: center;
}
main #announcement .announcement .announcement-tabel {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
main #announcement .announcement .announcement-tabel thead tr th {
  border: 1px solid #c19d60;
}
main #announcement .announcement .announcement-tabel tbody tr td {
  border: 1px solid #c19d60;
}
main #announcement .announcement .announcement-tabel tbody tr td h5 {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  main {
    left: 0;
    width: 100%;
  }
  main #vakan .vakan {
    flex-direction: column;
    justify-content: center;
  }
  main #vakan .vakan .vakan-left {
    width: 100%;
  }
  main #vakan .vakan .vakan-left form {
    flex-wrap: unset;
    flex-direction: column;
  }
  main #vakan .vakan .vakan-left form textarea {
    width: 93%;
  }
  main #vakan .vakan .vakan-left form select {
    width: 96%;
  }
  main #vakan .vakan .vakan-left form input {
    width: 92%;
  }
  main #vakan .vakan .vakan-left form #cv-label {
    width: 92%;
  }
  main #vakan .vakan .vakan-right {
    width: 100%;
  }
}/*# sourceMappingURL=vakan.css.map */