@import "../assets/sass/base/reset";
@import "../assets/sass/utils/variables";
@import "../assets/sass/base/typograpy";
@import "../assets/sass/utils/mixins";
@import "../assets/sass/components/buttons";
@import "../assets/sass/components/spinner-modal-scroll";
i {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}
body {
  background-color: $about-color;
  &.dark-mode{
    background-color: rgba($color: #000, $alpha: 0.8);
  }
}
header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  padding: 30px 0;
  background-color: #1b1b1b;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 150px;
      img {
        width: 100%;
      }
    }
    .icons {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      .menu-icon {
        width: 30px;
        height: 30px;
        color: $home-color;
        font-size: 20px;
        @include flex();
        visibility: hidden;
        cursor: pointer;
        &.menu-scroll {
          visibility: visible;
        }
      }

      i {
        cursor: pointer;
        font-size: 20px;
        &.fa-right-from-bracket {
          color: white;
        }
      }
    }
  }
  &.header-scroll {
    background-color: rgba($color: #1b1b1b, $alpha: 0.9);
  }
}
#candore {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: rgba($color: #1b1b1b, $alpha: 1);
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  left: -350px;
  transition: all 0.5s ease;
  z-index: 5;
  .fa-x {
    cursor: pointer;
    top: 20px;
    right: 15px;
    position: absolute;
    color: white;
    font-size: 20px;
  }
  .logo {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    .img {
      width: 150px;
      img {
        width: 100%;
      }
    }
  }
  nav {
    ul {
      flex-direction: column;
      display: flex;
      gap: 1rem;
      li {
        a {
          transition: all 0.5s;
          display: flex;
          gap: 0.5rem;
          font-size: 18px;
        }
        &:hover {
          a {
            color: $home-color;
          }
        }
      }
    }
  }
  &.aside {
    left: 0px;
  }
}
.home-icon {
  margin: 20px 0;
  width: 30px;
  height: 30px;
  background-color: #1b1b1b;
  color: $home-color;
  font-size: 20px;
  @include flex();
  cursor: pointer;
  visibility: visible;
  &.home-scroll {
    visibility: hidden;
  }
}
#banner {
  padding: 100px 0 50px 0;
  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .counter-starts {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      .stats {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
        background-color: white;
        border-radius: 10px;
        width: 33%;
        margin: 0 50px;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        h5 {
          color: #1b1b1b;
        }
        .fa {
          color: $home-color;
          font-size: 60px;
        }
      }
    }
    #myChart {
      display: flex;
      justify-content: center;
    }
  }
}

#customer {
  padding: 100px 0 50px 0;
  .customer {
    #customer-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .customer-form {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
        width: 50%;
        padding: 50px 0 50px 0;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        @include flex();
        gap: 1rem;

        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }

        button {
          @extend %btn;
          background-color: $home-color;

          width: 92%;
          &:hover {
            background-color: transparent;
            color: $home-color;
          }
        }
      }
    }
  }
  .search-input {
    width: 30%;
    margin-top: 50px;
    position: relative;
    border: 1px solid $home-color;
    padding: 10px;
    input {
      background-color: transparent;
      width: 100%;
      &::placeholder {
        color: black;
        font-family: $font-noto;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
    }
    i {
      top: 30%;
      right: 5px;
      position: absolute;
      color: $home-color;
    }
  }
  h2 {
    text-align: center;
  }
  .customer-table {
    margin-top: 50px;
    width: 100%;
    background-color: #1b1b1b;
    text-align: center;
    border-collapse: collapse;

    thead {
      tr {
        th {
          border: 1px solid $home-color;
        }
      }
    }
    tbody {
      tr {
        td {
          .fa-trash {
            color: red;
          }
          .fa-pen-to-square {
            color: blue;
          }
          h5 {
            font-size: 20px;
          }
          border: 1px solid $home-color;
        }
      }
    }
  }
}
#category {
  padding: 100px 0 50px 0;
  .category {
    .menu-all-button {
      @include flex();
      flex-wrap: wrap;
      gap: 3rem;
      margin-bottom: 50px;
      .menu-button-img {
        width: 10%;
        @include flex();
        flex-direction: column;

        button {
          width: 100px;
          transition: all 0.8s ease;
          border: none;
          outline: none;
          font-family: $font-libre;
          font-size: 22px;
          font-weight: 400;
          line-height: 38px;
          background-color: #1b1b1b;
          color: $home-color;
          border: 1px solid $home-color;
          &.button-active {
            color: white;
          }
        }
      }
    }
    .input-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-input {
        width: 30%;
        margin-top: 50px;
        position: relative;
        border: 1px solid $home-color;
        padding: 10px;
        input {
          background-color: transparent;
          width: 100%;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        i {
          top: 30%;
          right: 5px;
          position: absolute;
          color: $home-color;
        }
      }
      button {
        margin-top: 50px;
        @extend %btn;
        color: black;
        padding: 0 20px;
        font-weight: 500;
        font-size: 18px;
      }
    }
    #category-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .category-form {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
        width: 50%;
        padding: 50px 0 50px 0;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        @include flex();
        gap: 1rem;

        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }

        button {
          @extend %btn;
          background-color: $home-color;

          width: 92%;
          &:hover {
            background-color: transparent;
            color: $home-color;
          }
        }
      }
    }
  }
  .category-table {
    margin-top: 50px;
    width: 100%;
    background-color: #1b1b1b;
    text-align: center;
    border-collapse: collapse;
    thead {
      tr {
        th {
          border: 1px solid $home-color;
        }
      }
    }
    tbody {
      tr {
        td {
          .fa-trash {
            color: red;
          }
          .fa-pen-to-square {
            color: blue;
          }
          h5 {
            font-size: 20px;
          }
          border: 1px solid $home-color;
        }
      }
    }
  }
}
#vacancy {
  padding: 100px 0 50px 0;
  .vacancy {
    #vacancy-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .vacancy-form {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
        width: 50%;
        padding: 50px 0 50px 0;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        @include flex();
        gap: 1rem;

        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        textarea {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }

        button {
          @extend %btn;
          background-color: $home-color;

          width: 92%;
          &:hover {
            background-color: transparent;
            color: $home-color;
          }
        }
      }
    }
    .search-input {
      width: 30%;
      margin-top: 50px;
      position: relative;
      border: 1px solid $home-color;
      padding: 10px;
      input {
        background-color: transparent;
        width: 100%;
        &::placeholder {
          color: black;
          font-family: $font-noto;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
        }
      }
      i {
        top: 30%;
        right: 5px;
        position: absolute;
        color: $home-color;
      }
    }
  }
  .vacancy-table {
    margin-top: 50px;
    width: 100%;
    background-color: #1b1b1b;
    text-align: center;
    border-collapse: collapse;
    thead {
      tr {
        th {
          border: 1px solid $home-color;
        }
      }
    }
    tbody {
      tr {
        td {
          .fa-trash {
            color: red;
          }
          .fa-pen-to-square {
            color: blue;
          }
          h5 {
            font-size: 20px;
          }
          border: 1px solid $home-color;
        }
      }
    }
  }
}
#reservation {
  padding: 100px 0 50px 0;
  .reservation {
    #reservation-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .reservation-form {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
        width: 50%;
        padding: 50px 0 50px 0;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        @include flex();
        gap: 1rem;

        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        select {
          width: 92%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }

        button {
          @extend %btn;
          background-color: $home-color;

          width: 92%;
          &:hover {
            background-color: transparent;
            color: $home-color;
          }
        }
      }
    }
    .reservation-table {
      margin-top: 50px;
      width: 100%;
      background-color: #1b1b1b;
      text-align: center;
      border-collapse: collapse;
      thead {
        tr {
          th {
            border: 1px solid $home-color;
          }
        }
      }
      tbody {
        tr {
          td {
            .fa-trash {
              color: red;
            }
            .fa-pen-to-square {
              color: blue;
            }
            h5 {
              font-size: 20px;
            }
            border: 1px solid $home-color;
          }
        }
      }
    }
  }
  .search-input {
    width: 30%;
    margin-top: 50px;
    position: relative;
    border: 1px solid $home-color;
    padding: 10px;
    input {
      background-color: transparent;
      width: 100%;
      &::placeholder {
        color: black;
        font-family: $font-noto;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
    }
    i {
      top: 30%;
      right: 5px;
      position: absolute;
      color: $home-color;
    }
  }
}
#team {
  padding: 100px 0 50px 0;
  .team {
    #team-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .team-form {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
        width: 50%;
        padding: 50px 0 50px 0;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        @include flex();
        gap: 1rem;

        input {
          width: 90%;
          padding: 20px 0 20px 10px;
          &::placeholder {
            color: black;
            font-family: $font-noto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
          }
        }

        button {
          @extend %btn;
          background-color: $home-color;

          width: 92%;
          &:hover {
            background-color: transparent;
            color: $home-color;
          }
        }
      }
    }
    .team-card-lists {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      .team-card {
        background-color: #1b1b1b;
        width: 30%;
        .img {
          img {
            width: 100%;
          }
        }
        .text-content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 20px;
          text-align: center;
          .fa-trash {
            color: red;
          }
        }
      }
    }
  }
  .search-input {
    width: 30%;
    margin-top: 50px;
    position: relative;
    border: 1px solid $home-color;
    padding: 10px;
    input {
      background-color: transparent;
      width: 100%;
      &::placeholder {
        color: black;
        font-family: $font-noto;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
    }
    i {
      top: 30%;
      right: 5px;
      position: absolute;
      color: $home-color;
    }
  }
}
