/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  text-decoration: none;
  outline: none;
  border: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

h2 {
  font-family: "Libre Caslon Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: #1b1b1b;
}

h3 {
  font-family: "Libre Caslon Display", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  color: #c19d60;
}

h4 {
  font-family: "Libre Caslon Display", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #c19d60;
}

h5 {
  font-family: "Libre Caslon Display", serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

h6 {
  font-family: "Noah", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

p {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #fff;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

span {
  font-family: "Noah", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #c19d60;
  letter-spacing: 3px;
  line-height: 1.75em;
  text-transform: uppercase;
}

#team .team #team-form .team-form button, #reservation .reservation #reservation-form .reservation-form button, #vacancy .vacancy #vacancy-form .vacancy-form button, #category .category #category-form .category-form button, #category .category .input-button button, #customer .customer #customer-form .customer-form button {
  outline: none;
  border: 1px solid #c19d60;
  font-family: "Noah", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  padding: 5px 25px;
  background-color: transparent;
  transition: all 0.5s;
}
#team .team #team-form .team-form button:hover, #reservation .reservation #reservation-form .reservation-form button:hover, #vacancy .vacancy #vacancy-form .vacancy-form button:hover, #category .category #category-form .category-form button:hover, #category .category .input-button button:hover, #customer .customer #customer-form .customer-form button:hover {
  background-color: #c19d60;
}

#lvideo-wrap {
  position: fixed;
  height: 100dvh;
  z-index: 9991;
  opacity: 0;
  visibility: hidden;
}
#lvideo-wrap, #lvideo-wrap:after,
#lvideo-wrap .lvideo-overlay {
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
#lvideo-wrap .lvideo-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lvideo-wrap video,
#lvideo-wrap iframe {
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  background-color: #000;
  z-index: 10;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.16);
  display: block;
  max-width: 1280px;
  height: auto;
  width: 90%;
  aspect-ratio: 16/9;
}
#lvideo-wrap .lvideo-close {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: solid 2px rgba(0, 0, 0, 0.5);
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 150;
}
#lvideo-wrap .lvideo-close:before, #lvideo-wrap .lvideo-close:after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all 0.3s ease-in-out;
}
#lvideo-wrap .lvideo-close:before {
  transform: rotate(42deg);
}
#lvideo-wrap .lvideo-close:after {
  transform: rotate(-42deg);
}
#lvideo-wrap .lvideo-close:focus {
  outline: none;
}
#lvideo-wrap .lvideo-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#lvideo-wrap .lvideo-close:hover:before, #lvideo-wrap .lvideo-close:hover:after {
  background-color: #fff;
}
#lvideo-wrap.active {
  opacity: 1;
  visibility: visible;
}
#lvideo-wrap.active:after {
  opacity: 0.5;
}

/* #Progress
  ================================================== */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #c19d60;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

.progress-wrap i {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* content: '\f062'; */
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: #c19d60;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.spinner-loader {
  width: 100%;
  z-index: 10;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(193, 157, 96, 0.3);
  border-radius: 50%;
  border-top-color: #c19d60;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
i {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

body {
  background-color: #f2eee8;
}
body.dark-mode {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  padding: 30px 0;
  background-color: #1b1b1b;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  width: 150px;
}
header .header .logo img {
  width: 100%;
}
header .header .icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
header .header .icons .menu-icon {
  width: 30px;
  height: 30px;
  color: #c19d60;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
}
header .header .icons .menu-icon.menu-scroll {
  visibility: visible;
}
header .header .icons i {
  cursor: pointer;
  font-size: 20px;
}
header .header .icons i.fa-right-from-bracket {
  color: white;
}
header.header-scroll {
  background-color: rgba(27, 27, 27, 0.9);
}

#candore {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #1b1b1b;
  border-right: 2px solid rgba(255, 255, 255, 0.02);
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: -350px;
  transition: all 0.5s ease;
  z-index: 5;
}
#candore .fa-x {
  cursor: pointer;
  top: 20px;
  right: 15px;
  position: absolute;
  color: white;
  font-size: 20px;
}
#candore .logo {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
#candore .logo .img {
  width: 150px;
}
#candore .logo .img img {
  width: 100%;
}
#candore nav ul {
  flex-direction: column;
  display: flex;
  gap: 1.2rem;
}
#candore nav ul li a {
  transition: all 0.5s;
  display: flex;
  gap: 0.5rem;
  font-size: 18px;
}
#candore nav ul li:hover a {
  color: #c3b9a9;
}
#candore nav ul li.active a {
  color: #c19d60;
}
#candore.aside {
  left: 0px;
}

.home-icon {
  margin: 20px 0;
  width: 30px;
  height: 30px;
  background-color: #1b1b1b;
  color: #c19d60;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: visible;
}
.home-icon.home-scroll {
  visibility: hidden;
}

#banner {
  padding: 100px 0 50px 0;
}
#banner .banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#banner .banner .counter-starts {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#banner .banner .counter-starts .stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
  width: 20%;
  gap: 1rem;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#banner .banner .counter-starts .stats h5 {
  color: #1b1b1b;
}
#banner .banner .counter-starts .stats .fa {
  color: #c19d60;
  font-size: 60px;
}
#banner .banner #myChart {
  display: flex;
  justify-content: center;
}

#customer {
  padding: 100px 0 50px 0;
}
#customer .customer #customer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#customer .customer #customer-form .customer-form {
  width: 50%;
  padding: 50px 0 50px 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#customer .customer #customer-form .customer-form h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
#customer .customer #customer-form .customer-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#customer .customer #customer-form .customer-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#customer .customer #customer-form .customer-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#customer .customer #customer-form .customer-form button {
  background-color: #c19d60;
  width: 92%;
}
#customer .customer #customer-form .customer-form button:hover {
  background-color: transparent;
  color: #c19d60;
}
#customer .search-input {
  width: 30%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #c19d60;
  padding: 10px;
}
#customer .search-input input {
  background-color: transparent;
  width: 100%;
}
#customer .search-input input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#customer .search-input input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#customer .search-input i {
  top: 30%;
  right: 5px;
  position: absolute;
  color: #c19d60;
}
#customer h2 {
  text-align: center;
}
#customer .customer-table {
  margin-top: 50px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
  border-collapse: collapse;
}
#customer .customer-table thead tr th {
  border: 1px solid #c19d60;
}
#customer .customer-table tbody tr td {
  border: 1px solid #c19d60;
}
#customer .customer-table tbody tr td .fa-trash {
  color: red;
}
#customer .customer-table tbody tr td .fa-pen-to-square {
  color: blue;
}
#customer .customer-table tbody tr td h5 {
  font-size: 20px;
}

#category {
  padding: 100px 0 50px 0;
}
#category .category .menu-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 50px;
}
#category .category .menu-all-button .menu-button-img {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#category .category .menu-all-button .menu-button-img button {
  width: 100px;
  transition: all 0.8s ease;
  border: none;
  outline: none;
  font-family: "Libre Caslon Display", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  background-color: #1b1b1b;
  color: #c19d60;
  border: 1px solid #c19d60;
}
#category .category .menu-all-button .menu-button-img button.button-active {
  color: white;
}
#category .category .input-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#category .category .input-button .search-input {
  width: 30%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #c19d60;
  padding: 10px;
}
#category .category .input-button .search-input input {
  background-color: transparent;
  width: 100%;
}
#category .category .input-button .search-input input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#category .category .input-button .search-input input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#category .category .input-button .search-input i {
  top: 30%;
  right: 5px;
  position: absolute;
  color: #c19d60;
}
#category .category .input-button button {
  margin-top: 50px;
  color: black;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
}
#category .category #category-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#category .category #category-form .category-form {
  width: 50%;
  padding: 50px 0 50px 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#category .category #category-form .category-form h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
#category .category #category-form .category-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#category .category #category-form .category-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#category .category #category-form .category-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#category .category #category-form .category-form button {
  background-color: #c19d60;
  width: 92%;
}
#category .category #category-form .category-form button:hover {
  background-color: transparent;
  color: #c19d60;
}
#category .category-table {
  margin-top: 50px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
  border-collapse: collapse;
}
#category .category-table thead tr th {
  border: 1px solid #c19d60;
}
#category .category-table tbody tr td {
  border: 1px solid #c19d60;
}
#category .category-table tbody tr td .fa-trash {
  color: red;
}
#category .category-table tbody tr td .fa-pen-to-square {
  color: blue;
}
#category .category-table tbody tr td h5 {
  font-size: 20px;
}

#vacancy {
  padding: 100px 0 50px 0;
}
#vacancy .vacancy #vacancy-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#vacancy .vacancy #vacancy-form .vacancy-form {
  width: 50%;
  padding: 50px 0 50px 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#vacancy .vacancy #vacancy-form .vacancy-form h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form textarea {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#vacancy .vacancy #vacancy-form .vacancy-form textarea::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form textarea::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy #vacancy-form .vacancy-form button {
  background-color: #c19d60;
  width: 92%;
}
#vacancy .vacancy #vacancy-form .vacancy-form button:hover {
  background-color: transparent;
  color: #c19d60;
}
#vacancy .vacancy .search-input {
  width: 30%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #c19d60;
  padding: 10px;
}
#vacancy .vacancy .search-input input {
  background-color: transparent;
  width: 100%;
}
#vacancy .vacancy .search-input input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy .search-input input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#vacancy .vacancy .search-input i {
  top: 30%;
  right: 5px;
  position: absolute;
  color: #c19d60;
}
#vacancy .vacancy-table {
  margin-top: 50px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
  border-collapse: collapse;
}
#vacancy .vacancy-table thead tr th {
  border: 1px solid #c19d60;
}
#vacancy .vacancy-table tbody tr td {
  border: 1px solid #c19d60;
}
#vacancy .vacancy-table tbody tr td .fa-trash {
  color: red;
}
#vacancy .vacancy-table tbody tr td .fa-pen-to-square {
  color: blue;
}
#vacancy .vacancy-table tbody tr td h5 {
  font-size: 20px;
}

#reservation {
  padding: 100px 0 50px 0;
}
#reservation .reservation #reservation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reservation .reservation #reservation-form .reservation-form {
  width: 50%;
  padding: 50px 0 50px 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#reservation .reservation #reservation-form .reservation-form h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
#reservation .reservation #reservation-form .reservation-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#reservation .reservation #reservation-form .reservation-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .reservation #reservation-form .reservation-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .reservation #reservation-form .reservation-form select {
  width: 92%;
  padding: 20px 0 20px 10px;
}
#reservation .reservation #reservation-form .reservation-form select::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .reservation #reservation-form .reservation-form select::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .reservation #reservation-form .reservation-form button {
  background-color: #c19d60;
  width: 92%;
}
#reservation .reservation #reservation-form .reservation-form button:hover {
  background-color: transparent;
  color: #c19d60;
}
#reservation .reservation .reservation-table {
  margin-top: 50px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center;
  border-collapse: collapse;
}
#reservation .reservation .reservation-table thead tr th {
  border: 1px solid #c19d60;
}
#reservation .reservation .reservation-table tbody tr td {
  border: 1px solid #c19d60;
}
#reservation .reservation .reservation-table tbody tr td .fa-trash {
  color: red;
}
#reservation .reservation .reservation-table tbody tr td .fa-pen-to-square {
  color: blue;
}
#reservation .reservation .reservation-table tbody tr td h5 {
  font-size: 20px;
}
#reservation .search-input {
  width: 30%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #c19d60;
  padding: 10px;
}
#reservation .search-input input {
  background-color: transparent;
  width: 100%;
}
#reservation .search-input input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .search-input input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#reservation .search-input i {
  top: 30%;
  right: 5px;
  position: absolute;
  color: #c19d60;
}

#team {
  padding: 100px 0 50px 0;
}
#team .team #team-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team .team #team-form .team-form {
  width: 50%;
  padding: 50px 0 50px 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#team .team #team-form .team-form h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
#team .team #team-form .team-form input {
  width: 90%;
  padding: 20px 0 20px 10px;
}
#team .team #team-form .team-form input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#team .team #team-form .team-form input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#team .team #team-form .team-form button {
  background-color: #c19d60;
  width: 92%;
}
#team .team #team-form .team-form button:hover {
  background-color: transparent;
  color: #c19d60;
}
#team .team .team-card-lists {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
#team .team .team-card-lists .team-card {
  background-color: #1b1b1b;
  width: 30%;
}
#team .team .team-card-lists .team-card .img img {
  width: 100%;
}
#team .team .team-card-lists .team-card .text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  text-align: center;
}
#team .team .team-card-lists .team-card .text-content .fa-trash {
  color: red;
}
#team .search-input {
  width: 30%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #c19d60;
  padding: 10px;
}
#team .search-input input {
  background-color: transparent;
  width: 100%;
}
#team .search-input input::-moz-placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#team .search-input input::placeholder {
  color: black;
  font-family: "Noah", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#team .search-input i {
  top: 30%;
  right: 5px;
  position: absolute;
  color: #c19d60;
}/*# sourceMappingURL=admin.css.map */